@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
    --color-Gray-50: hsl(0, 0%, 98%);
    --color-Gray-500: hsl(0, 0%, 41%);
    --color-Gray-950: hsl(0, 0%, 8%);
}

body {
    font-family: "Epilogue", sans-serif;
    font-size: clamp(1rem, 1.125rem, 1.5rem);
    color: var(--color-Gray-500)
}